.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000; /* Black Background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-text {
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 300;
  animation: pulse 1.5s infinite ease-in-out;
}

.loader-bar {
  width: 150px;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
}

.loader-bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
  animation: loading 1.5s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes pulse {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 1; }
}

@keyframes loading {
  0% { left: -100%; }
  100% { left: 100%; }
}

.fade-in {
  animation: fadeInContent 0.8s ease-out forwards;
}

@keyframes fadeInContent {
  from {
    opacity: 0;
    transform: translateY(10px); /* Content niche se upar aayega */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}